{% extends "base/body.html" %}

{% block top_section_body %}
{{ block.super }}
{% include "orderRoom/topSection/titleAction.html" %}
{% endblock top_section_body %}

{% block details_section %}
{% include "orderRoom/bodySection/detailsSection.html" %}
{% endblock details_section %}

{% block list_section %}
{% include "orderRoom/bodySection/listSection.html" %}
{% endblock list_section %}

{% block bottom_form %}
{% include "orderRoom/bottomSection/form/formGroupItem.html" %}
{% endblock bottom_form %}
