{% load i18n%}
<form id="order_item_form" ws-send hx-swap="outerHTML">
  {% include "order/bottomSection/form/form_order_id.html" %}
  <input type="hidden" name="message_type" value="addOrderItem">
  {% for error in form.non_field_errors %}
  {% include "base/helpers/error.html" %}
  {% endfor %}
  <div class="row g-3 align-items-center mb-3">

    <!-- Restaurant Selection -->
    <div class="col-md-4">
      <select class="form-select time_lock" name="fk_restaurant" required autocomplete="off" hx-get="{% url 'get_menu_items' %}" hx-target="#menuItems" {% if disable_order_item_form %}disabled{% endif %}>
        <option selected disabled>{% translate "Select Restaurant" %}</option>
        {% for restaurant in restaurants %}
        <option value="{{restaurant.id}}" {% if restaurant.id == form.fk_restaurant.value|add:"0" %}selected{% endif %}>{{restaurant.name}}
        </option>
        {% endfor %}
      </select>
      {% for error in form.fk_restaurant.errors %}
      {% include "base/helpers/error.html" %}
      {% endfor %}
    </div>

    <!-- Menu Item Selection -->
    <div class="col-md-4">
      {% include "order/bottomSection/form/menuItems.html" %}
    </div>

    <!-- Quantity Input -->
    <div class="col-md-2">
      <input type="number" class="form-control time_lock" id="quantity" name="quantity" placeholder='{% translate "Quantity" %}' min="1" value="{{form.quantity.value}}" required autocomplete="off" {% if disable_order_item_form %}disabled{% endif %}>
      {% for error in form.quantity.errors %}
      {% include "base/helpers/error.html" %}
      {% endfor %}
    </div>

    <!-- Add Button -->
    <div class="col-md-2">
      <button type="submit" class="btn btn-outline-success w-100 time_lock" {% if disable_order_item_form %}disabled{% endif %}>{% translate "Add" %}</button>
      {% if create_order_error %}
      {% include "base/helpers/error.html" with error=create_order_error %}
      {% endif %}
    </div>
  </div>
</form>
