{% load i18n%}
<form id="order_item_form" ws-send hx-swap="outerHTML">
  {% include "order/bottomSection/form/orderID.html" %}
  <input type="hidden" name="message_type" value="addOrderItem">
  <div class="row g-1 m-1 align-items-center">
    <div class="col border border-3 rounded-4 border-black p-2">
      <select class="form-select" name="fk_restaurant" required autocomplete="off" hx-get="/order/menuitems" hx-target="#menuItems" {% if disable_form %}disabled{% endif %}>
        <option selected disabled>{% translate "Select Restaurant" %}</option>
        {% for restaurant in restaurants %}
        <option value="{{restaurant.id}}" {% if restaurant.id == form.fk_restaurant.value|add:"0" %}selected{% endif %}>{{restaurant.name}}
        </option>
        {% endfor %}
      </select>
      {% for error in form.fk_restaurant.errors %}
      {% include "base/error.html" %}
      {% endfor %}
    </div>

    <div class="col border border-3 rounded-4 border-black p-2">
      {% include "order/bottomSection/form/menuItems.html" %}
    </div>

    <div class="col border border-3 rounded-4 border-black p-2">
      <input type="number" class="form-control" id="quantity" name="quantity" placeholder='{% translate "Quantity" %}' min="1" value="{{form.quantity.value}}" required autocomplete="off"
        {% if disable_form %}disabled{% endif %}>
      {% for error in form.quantity.errors %}
      {% include "base/error.html" %}
      {% endfor %}
    </div>

    <div class="col border border-3 rounded-4 border-black p-2">
      <button type="submit" class="btn btn-primary" {% if disable_form %}disabled{% endif %}>{% translate "Add" %}</button>
    </div>
  </div>
</form>