{% extends "base/bodySection/detailsSectionBody.html" %}
{% load i18n %}

{% block table_headers %}
<th>quantity</th>
<th>item</th>
<th>price</th>
<th>total</th>
{% endblock table_headers %}
{% block table_body %}

<tr>
    <td>{{item.fk_menu_item.menu_item}}</td>
    <td>{{item.quantity}}</td>
    <td>{{item.fk_menu_item.price}}</td>
    <td>{{item.total_order_item}}</td>
    {% if not disable_remove_button %}
    {% if item.fk_order.fk_user == request.user or item.fk_order.fk_user == user %}
    <td class="remove_button" hx-swap-oob="outerHTML:.remove_button">
        <form ws-send>
            <input type="hidden" name="message_type" value="{{details_message_type}}">
            <input type="hidden" name="item_id" value="{{item.id}}">
            <button type="submit" class="btn btn-danger btn-sm">{% translate "Remove" %}</button>
        </form>
    </td>
    {% endif %}
    {% comment %}
    {% else %}
    {% include "order/bodySection/remove_button.html" %}
    {% endcomment %}
    {% endif %}
</tr>


{% endblock table_body %}
