{% extends "base/bodySection/detailsSectionBody.html" %}

{% load i18n %}
{% block table_headers %}
<tr>
    <th class="col-6">name</th>
    <th class="col-3">price</th>
</tr>
{% endblock table_headers %}
{% block table_body %}
<tr>
    <td>{{item.menu_item}}</td>
    <td>{{item.price}}</td>
    <td>
        <form ws-send>
            <input type="hidden" name="message_type" value="{{details_message_type}}">
            <input type="hidden" name="item_id" value="{{item.id}}">
            <button type="submit" class="btn btn-danger btn-sm">{% translate "Remove" %}</button>
        </form>
    </td>
</tr>
{% endblock table_body %}
