{% load i18n %}
<form id="add_menu_item" ws-send hx-swap="outerHTML">
    <input type="hidden" name="message_type" value="addMenuItem">
    {% include "restaurant/bottomSection/form/restaurantID.html" %}

    <div class="row g-3 align-items-center mb-3">
        <div class="col-md-4">
            <input type="text" class="form-control" id="menu_item" name="menu_item" placeholder='{% translate "Menu Item Name" %}' value="{{form.menu_item.value}}" required autocomplete="off" {% if form_menu_item_disable %}disabled{% endif %}>
            {% for error in form.menu_item.errors %}
            {% include "base/helpers/error.html" %}
            {% endfor %}
        </div>
        <div class="col-md-4">
            <input type="number" class="form-control" id="price" name="price" placeholder='{% translate "Menu Item Price" %}' value="{{form.price.value}}" min="0" required autocomplete="off" {% if form_menu_item_disable %}disabled{% endif %}>
            {% for error in form.price.errors %}
            {% include "base/helpers/error.html" %}
            {% endfor %}
        </div>

        <div class="col">
            <button type="submit" class="btn btn-primary w-100" {% if form_menu_item_disable %}disabled{% endif %}>{% translate "Add Menu Item" %}</button>
            {% for error in form.fk_restaurant.errors %}
            {% include "base/helpers/error.html" %}
            {% endfor %}
        </div>
    </div>
</form>
