{% load i18n%}
<form id="add_restaurant" ws-send hx-swap="outerHTML">
    <input type="hidden" name="message_type" value="addRestaurant">
    <div class="row g-3 align-items-center mb-3">
        <div class="col">
            <input type="text" class="form-control" id="restaurant" name="name" placeholder='{% translate "Restaurant Name" %}' value="{{form.name.value}}" required autocomplete="off" {% if disable_form %}disabled{% endif %}>
            {% for error in form.name.errors %}
            {% include "base/helpers/error.html" %}
            {% endfor %}
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-outline-success" {% if disable_form %}disabled{% endif %}><i class="bi bi-plus-lg"></i> {% translate "Add Restaurant" %}</button>
        </div>
    </div>
</form>
