{% with wrap=wrapper|default:"True" %}
{% if wrap == "True" %}<tbody id="{{details_table_body_id}}" hx-swap-oob="{{swap_method}}:#{{details_table_body_id}}">{% endif %}
    {% for item in details_section_data %}
    <tr id="order_item_{{item.id}}">
        <td>{{item.fk_menu_item.name}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.fk_menu_item.price}}</td>
        <td>{{item.total_order_item}}</td>
        {% if not disable_remove_button %}
        {% if item.fk_order.fk_user == request.user or item.fk_order.fk_user == user %}
        <td class="remove_button" hx-swap-oob="outerHTML:.remove_button">
            <form ws-send>
                <input type="hidden" name="message_type" value="{{details_message_type}}">
                <input type="hidden" name="item_id" value="{{item.id}}">
                <button type="submit" class="btn btn-outline-danger btn-sm"><i class="bi bi-x-circle-fill"></i></button>
            </form>
        </td>
        {% endif %}
        {% endif %}
    </tr>
    {% endfor %}

    {% if wrap == "True" %}
</tbody>{% endif %}
{% endwith %}
</tr>