{% load static i18n%}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:'en-us '}}" {% if LANGUAGE_BIDI %}dir="rtl" {% endif %}>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="apple-touch-icon" sizes="180x180" href='media/apple-touch-icon.png'>
    <link rel="icon" type="image/png" sizes="32x32" href='media/favicon-32x32.png'>
    <link rel="icon" type="image/png" sizes="16x16" href='media/favicon-16x16.png'>
    <link rel="icon" type="image/png" href='media/favicon.ico'>
    <link rel="manifest" href='media/site.webmanifest'>

    {% if LANGUAGE_BIDI %}
    <link rel="stylesheet" href="{% static '/bootstrap/bootstrap.rtl.min.css' %}" />
    {% else %}
    <link rel="stylesheet" href="{% static '/bootstrap/bootstrap.min.css' %}" />
    {% endif %}
    <link rel="stylesheet" href="{% static '/bootstrap_icons/bootstrap-icons.min.css' %}" />
    <script src="{% static '/htmx/htmx.min.js' %}"></script>
    <script src="{% static '/htmx/ws.js' %}"></script>
    <script src="{% static '/countdownjs/countdown.min.js' %}"></script>

    <title>{% block title %}{% translate "Order Manager" %} | {{main_title}}{% endblock title %}
    </title>
</head>

<body>
    {% block body %}{% endblock body %}
    {% include "base/helpers/temp.html" %}
    <script type="module" src="{% static '/bootstrap/bootstrap.min.js' %}"></script>
    <script type="module" src="{% static '/server_date/serverDate.js' %}"></script>


    <script>
        function toggle_form(groupId, targetToggle) {
            const mainRow = document.querySelector(`.row-${groupId}.row-main`);
            const formRow = document.querySelector(`.row-${groupId}.${targetToggle}`);

            if (!mainRow || !formRow) return;

            const isShowingForm = formRow.classList.contains("d-none");

            mainRow.classList.toggle("d-none", isShowingForm);
            formRow.classList.toggle("d-none", !isShowingForm);

            if (isShowingForm) {
                const colCount = mainRow.querySelectorAll("td").length;
                formRow.querySelector("td").setAttribute("colspan", colCount);
            }
        }
    </script>

    {% include "common/time_lock.html" %}


</body>

</html>