{% load i18n %}
<!-- split page to 3 sections [top-body-bottom] -->
<div id="content">

    <!-- top section -->
    <div class="card mb-4">
        <div class="card-header">
            <div class="row g-3 align-items-center justify-content-evenly text-center text-sm-center text-md-start">
                {% block top_section_title %}
                <span class="col-12 col-md-3 me-auto">{{main_title}}</span>
                {% endblock top_section_title %}
                {% block top_section_body %}
                {% include "base/navbar.html" with buttons=navigation_buttons %}
                {% endblock top_section_body %}
            </div>
        </div>

        <!-- body section -->
        <div class="card-body">
            <!-- split body to 2 sections [right-left] -->
            <div class="row g-3">
                <!-- right section -->

                {% block details_section %}{% endblock details_section %}

                <!-- left section -->
                {% block list_section %}{% endblock list_section %}
            </div>
        </div>
    </div>

    <!-- bottom section -->
    <div class="card mb-4">
        <div id="bottom_card" class="card-body">
            {% block bottom_form %}{% endblock bottom_form %}
        </div>
    </div>


    {% block summary_table %}
    {% endblock summary_table %}

</div>