{% load i18n %}
<!-- split page to 3 sections [top-body-bottom] -->
<div id="content" class="row row-cols-1 g-1 m-1 align-items-center">
    <!-- user management section -->
    <div class="row row-cols-auto justify-content-end align-items-center g-1 m-1">
        {% include "userManagement/actions.html" %}
    </div>

    <!-- top section -->
    <div class="col border border-3 rounded-4 border-black p-2">
        <div class="row row-cols-auto justify-content-between align-items-center g-1 m-1">
            <div class="col-auto p-2">{{main_title}}</div>
            {% if current_view == "order_view" %}
            {% include "order/topSection/middleTitle.html" %}
            {% endif %}
            <div class="col-auto p-2">
                {% if current_view == "group_view" %}
                {% include "group/topSection/titleAction.html" %}
                {% else %}
                {% include "base/topSection/titleAction.html" %}
                {% endif %}
            </div>
        </div>

        <!-- body section -->
        <div class="col border border-3 rounded-4 border-danger p-2">
            <!-- split body to 2 sections [right-left] -->
            <div class="row row-cols-2 g-1 m-1">
                <!-- right section -->
                {% include "base/bodySection/detailsSection.html" %}

                <!-- left section -->
                {% include "base/bodySection/listSection.html" %}
            </div>
        </div>

        <!-- bottom section -->
        <div class="col border border-3 rounded-4 border-black p-2">
            {% if current_view == "order_view" %}
            {% include "order/bottomSection/form/formOrderItem.html" %}
            {% include "order/bottomSection/actions/orderActions.html" %}
            {% elif current_view == "restaurant_view" %}
            {% include "restaurant/bottomSection/form/formRestaurant.html" %}
            {% include "restaurant/bottomSection/form/formMenuItem.html" %}
            {% elif current_view == "group_view" %}
            {% include "group/bottomSection/form/formGroupItem.html" %}
            {% endif %}
        </div>
    </div>

    <!-- tables section -->
    <div class="col">
        {% include "order/bottomSection/actions/summaryTables.html" %}
    </div>

</div>
