{% load i18n static %}
<div id="timer" class="col-auto p-2">
    <script type="module">
        // immediately invoked function expression
        import { getServerDate } from "{% static '/server_date/serverDate.js' %}";
        (async () => {
            const { date, offset, uncertainty } = await getServerDate();
            console.log(`The server's date is ${date} +/- ${uncertainty} milliseconds.`);

            const endTime = new Date(Date.now() + offset + parseInt('{{ time_left }}') * 1000);
            const timerElement = document.getElementById("timer");
            var clearTimer = () => { }
            const countdownInterval = countdown(endTime, (ts) => {
                if (!timerElement.isConnected) {
                    clearTimer()
                    return;
                }
                if (ts.value >= 0) {
                    timerElement.innerHTML = `{% translate "Time's up !" %}`;
                    clearTimer()
                    return;
                }
                timerElement.innerHTML = `${ts.minutes.toString().padStart(2, '0')}:${ts.seconds.toString().padStart(2, '0')}`;
            }, countdown.MINUTES | countdown.SECONDS);
            clearTimer = () => window.clearInterval(countdownInterval);
        })();
    </script>
</div>
