{% load i18n %}
<div id="timer" class="col-auto p-2">
    <script>
        // immediately invoked function expression
        (() => {
            const endTime = new Date(Date.now() + parseInt('{{ time_left }}') * 1000);
            const timerElement = document.getElementById("timer");
            var clearTimer = () => { }
            const countdownInterval = countdown(endTime, (ts) => {
                if (!timerElement.isConnected) {
                    clearTimer()
                    return;
                }
                if (ts.value >= 0) {
                    timerElement.innerHTML = `{% translate "Time's up !" %}`;
                    clearTimer()
                    return;
                }
                timerElement.innerHTML = `${ts.minutes.toString().padStart(2, '0')}:${ts.seconds.toString().padStart(2, '0')}`;
            }, countdown.MINUTES | countdown.SECONDS);
            clearTimer = () => window.clearInterval(countdownInterval);
        })();
    </script>
</div>
