{% load i18n%}
<form id="finishOrder" ws-send hx-swap-oob="innerHTML">
    {% include "order/bottomSection/actions/finish_order_id.html" %}
    <input type="hidden" name="message_type" value="finishOrder">
    <button type="submit" class="btn btn-success" {% if disable_order_item_form or disable_finish_button %}disabled{% endif %}>{% translate "Finish Order" %}</button>
    {% if finish_order_error %}
    {% include "base/error.html" with error=finish_order_error %}
    {% endif %}
    {% include "base/helpers/error_remover.html" %}

</form>