{% load i18n %}
<div class="row g-1 m-1 align-items-center">
    <div class="col border border-3 rounded-4 border-black p-2">
        {% include "order/bottomSection/actions/orderSummary.html" %}
    </div>
    <div class="col border border-3 rounded-4 border-black p-2">
        <form ws-send hx-swap-oob="innerHTML">
            <input type="hidden" name="message_type" value="ordersList">
            <button type="submit" class="btn btn-success">{% translate "My Orders" %}</button>
        </form>
    </div>
    <div class="col border border-3 rounded-4 border-black p-2">
        {% include "order/bottomSection/actions/finishOrder.html" %}
    </div>
</div>