{% load i18n%}
<div id="summaryTables" hx-swap-oob="innerHTML">
    {% if showTables %}
    <div class="card mb-4">
        <div class="card-body">
            <!-- Toggle Buttons -->
            <div class="my-4 text-center">
                <div class="btn-group" role="group" aria-label="table toggle buttons">
                    <input type="radio" class="btn-check" name="toggleBtn" id="btnradio1" autocomplete="off" data-target="table1" checked>
                    <label class="btn btn-outline-success" for="btnradio1">{% translate "Grouped By Restaurant" %}</label>

                    <input type="radio" class="btn-check" name="toggleBtn" id="btnradio2" autocomplete="off" data-target="table2">
                    <label class="btn btn-outline-success" for="btnradio2">{% translate "Grouped By Restaurant then User" %}</label>

                    <input type="radio" class="btn-check" name="toggleBtn" id="btnradio3" autocomplete="off" data-target="table3">
                    <label class="btn btn-outline-success" for="btnradio3">{% translate "Grouped By User then Restaurant " %}</label>
                </div>
            </div>
            <div style="height: 80vh;" class="overflow-auto">
                {% include "order/summarySection/table1.html" with shown="true" %}
                {% include "order/summarySection/table2.html" %}
                {% include "order/summarySection/table3.html" %}
            </div>
        </div>
    </div>
    <script>
        // Function to toggle tables based on selected radio button
        function toggleTables() {
            const tables = document.querySelectorAll('.toggler'); // Get all tables
            tables.forEach(table => table.style.display = 'none'); // Hide all tables

            const selectedRadio = document.querySelector('input[name="toggleBtn"]:checked'); // Get the checked radio button
            const targetTableId = selectedRadio.getAttribute('data-target'); // Get target table ID from data-target attribute
            document.getElementById(targetTableId).style.display = 'block'; // Show the target table
        }
        // Attach the toggle function to all radio buttons
        document.querySelectorAll('input[name="toggleBtn"]').forEach(function (radio) {
            radio.addEventListener('change', toggleTables);
        });
        // Initial call to display the correct table on page load
        toggleTables();

        function scrollToView() {
            const targetSection = document.getElementById('summaryTables');
            if (targetSection) {
                targetSection.scrollIntoView({ behavior: 'smooth' });
            }
        }

        scrollToView()

    </script>
    {% endif %}
</div>