{% load static i18n %}
{% if user.is_authenticated %}
<div class="mb-3">
    <div class="row g-3 align-items-center justify-content-start text-center text-sm-center text-md-start">
        <h5 class="col-12 col-md-auto me-auto">{% translate "Welcome" %} <span class="text-success fw-bold">{{user.username}}</span></h5>

        <div class="col-6 col-md-auto collapse multi-collapse">
            <a href="{% url 'password_change' %}" class="btn btn-outline-primary me-2">{% translate "Change Password" %}</a>
        </div>
        <div class="col-6 col-md-auto collapse multi-collapse">
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger">{% translate "Logout" %}</button>
            </form>
        </div>
        <div class="col-12 col-md-auto ms-auto">
            <button class="btn btn-outline-primary" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false"><i class="bi bi-list"></i> {% translate "Actions" %}</button>
        </div>
    </div>
</div>
{% endif %}