{% load i18n %}
<form id="{% block id %}{% endblock id %}" {% block htmx %}ws-send{% endblock htmx %} class="d-flex gap-3 align-items-center" {% block swap %}hx-swap-oob="outerHTML"{% endblock swap %}>
    <button type="button" class="btn btn-outline-primary btn-sm" onclick="toggle_form('{{ item.group_number }}','{% block targetToggleClass %}{% endblock targetToggleClass %}')">
        {% translate "Cancel" %}
    </button>
    <input type="hidden" name="message_type" value="{% block message_type %}{% endblock message_type %}">
    <input type="hidden" name="item_id" value="{{item.id}}">
    {% block inputs %}{% endblock inputs %}
    <button type="submit" class="btn btn-outline-success btn-sm text-nowrap">
        {% block action_button_title %}{% endblock action_button_title %}
    </button>
    {% block errors %}
    {% endblock errors %}
</form>
