{% extends "base/bodySection/listSectionTableBody.html" %}
{% load i18n %}
{% block table_body_data %}
{% with wrap=wrapper|default:"True" %}
{% if wrap == "True" %}<tbody id="{{list_table_body_id}}" hx-swap-oob="{{swap_method|default:'innerHTML'}}:#{{list_table_body_id}}">{% endif %}
    <tr class="row-{{ item.group_number }} row-main">
        {% include "orderGroup/bodySection/connectedUsers.html" %}
        {% block common_button %}
        {% if user == item.fk_owner %}
        {% with disabled=False %}
        {{ block.super }}
        {% endwith %}
        {% else %}
        {% with disabled=True %}
        {{ block.super }}
        {% endwith %}
        {% endif %}
        {% endblock %}
        {% if user == item.fk_owner %}
        <td>
            {% include "orderGroup/bodySection/inviteAction.html" %}
        </td>
        {% endif %}
        {% if user in item.m2m_users.all %}
        <td>
            {% block extra_actions %}
            {{ block.super }}
            {% include "orderGroup/bodySection/joinAction.html" %}
            {% endblock extra_actions %}
        </td>
        {% endif %}
    </tr>
    <tr class="row-{{ item.group_number }} row-enter d-none">
        <td>
            {% include "orderGroup/bodySection/joinForm.html" with join_error=join_form_error %}
        </td>
    </tr>
    <tr class="row-{{ item.group_number }} row-invite d-none">
        <td>
            {% include "orderGroup/bodySection/inviteForm.html" with join_error=invite_form_error %}
        </td>
    </tr>
    {% if wrap == "True" %}
</tbody>{% endif %}
{% endwith %}
{% endblock table_body_data %}