{% load i18n %}
<div id="{{details_section_id}}" class="col border border-3 rounded-4 border-success p-2" hx-swap-oob="innerHTML">
    <div class="row justify-content-center align-items-center">
        <div class="col p-2">{{details_section_title}}</div>
    </div>
    <div class="row">
        <div class="col border border-3 rounded-4 border-info p-2 overflow-y-scroll" style="height: 40vh;">
            {% for item in details_section_data %}
            <div class="row justify-content-between align-items-center border border-3 rounded-4 border-black g-1 m-1">
                {% if current_view == "order_view" %}
                <div class="col p-1">{{item.quantity}}</div>
                <div class="col p-1">{{item.fk_menu_item.menu_item}}</div>
                <div class="col p-1">{{item.fk_menu_item.price}}</div>
                <div class="col p-1">{{item.total_order_item}}</div>
                {% if item.fk_order.fk_user == request.user or item.fk_order.fk_user == user %}
                <div class="col p-1">
                    <form ws-send>
                        <input type="hidden" name="message_type" value="{{details_message_type}}">
                        <input type="hidden" name="item_id" value="{{item.id}}">
                        <button type="submit" class="btn text-danger fw-bolder">X</button>
                    </form>
                </div>
                {% endif %}
                {% elif current_view == "restaurant_view" %}
                <div class="col p-1">{{item.menu_item}}</div>
                <div class="col p-1">{{item.price}}</div>

                <div class="col p-1">
                    <form ws-send>
                        <input type="hidden" name="message_type" value="{{details_message_type}}">
                        <input type="hidden" name="item_id" value="{{item.id}}">
                        <button type="submit" class="btn-close" aria-label="Close"></button>
                    </form>
                </div>
                {% endif %}

            </div>
            {% endfor %}
        </div>
    </div>
    {% include "base/error_remover.html" %}
</div>