{% extends "base/body.html" %}

{% block top_section_body %}
{% include "order/topSection/middleTitle.html" %}
{% include "order/topSection/titleAction.html" %}
{% endblock top_section_body %}


{% block details_section %}
{% include "order/bodySection/detailsSection.html" %}
{% endblock details_section %}


{% block list_section %}
{% include "order/bodySection/listSection.html" %}
{% endblock list_section %}

{% block bottom_form %}
{% include "order/bottomSection/form/formOrderItem.html" %}
{% include "order/bottomSection/actions/orderActions.html" %}

{% endblock bottom_form %}


{% block summary_table %}
<!-- tables section -->
<div class="card mb-4">
    <div class="card-body">
        {% include "order/bottomSection/actions/summaryTables.html" %}
    </div>
</div>
{% endblock summary_table %}
