{% load static i18n%}
{% load django_browser_reload %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:'en-us '}}" {% if LANGUAGE_BIDI %}dir="rtl" {% endif %}>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% if LANGUAGE_BIDI %}
  <link rel="stylesheet" href="{% static '/bootstrap/bootstrap.rtl.min.css' %}" />
  {% else %}
  <link rel="stylesheet" href="{% static '/bootstrap/bootstrap.min.css' %}" />
  {% endif %}
  <script src="{% static '/htmx_2_0_1/htmx.min.js' %}"></script>
  <script src="{% static '/htmx_2_0_1/ws.js' %}"></script>

  <title>{% translate "order manager"|title %}</title>
</head>

<body>


  <!-- main container -->
  <div class="container border border-3 rounded-4 border-black text-center p-2" hx-ext="ws" ws-connect="/ws/group/{{group_name}}/">
    <!-- split page to 3 sections [top-body-bottom] -->
    <div class="row row-cols-1 g-1 m-1">

      <!-- top section -->
      <div class="col border border-3 rounded-4 border-black p-2">
        <div class="row row-cols-auto justify-content-between align-items-center g-1 m-1">
          <div class="col-auto p-2">{% translate "title" %}</div>
          <div class="col-auto p-2">{% translate "add restaurant" %}</div>
        </div>
      </div>

      <!-- body section -->
      <div class="col border border-3 rounded-4 border-danger p-2">
        <!-- split body to 2 sections [right-left] -->
        <div class="row row-cols-2 g-1 m-1 ">
          <!-- right section -->
          <div class="col border border-3 rounded-4 border-success p-2">
            <div class="row justify-content-center align-items-center">
              <div class="col p-2">{% translate "Order Items" %}</div>
            </div>
            <div class="row">
              {% include "order/orderItems.html" %}
            </div>
          </div>

          <!-- left section -->
          <div class="col border border-3 rounded-4 border-primary p-2">
            <div class="row justify-content-center align-items-center">
              <div class="col p-2">{% translate "Members Orders" %}</div>
            </div>
            <div class="row">
              {% include "order/membersOrders.html" %}
            </div>
          </div>
        </div>
      </div>

      <!-- bottom section -->
      <div class="col border border-3 rounded-4 border-black p-2">
        {% include "order/formOrderItem.html" %}
      </div>
    </div>
  </div>
  <script type="module" src=""></script>
  <script src="{% static '/bootstrap/bootstrap.min.js' %}"></script>
  {% django_browser_reload_script %}
</body>

</html>