<div id="order_items" class="col border border-3 rounded-4 border-info p-2 overflow-y-scroll" style="height: 50vh;" hx-swap-oob="innerHTML">
    {% for orderItem in orderItems %}
    <div class="row justify-content-between align-items-center border border-3 rounded-4 border-black g-1 m-1">
        <div class="col p-1">{{orderItem.quantity}}</div>
        <div class="col p-1">{{orderItem.fk_menu_item.menu_item}}</div>
        <div class="col p-1">{{orderItem.fk_menu_item.price}}</div>
        <div class="col p-1">{{orderItem.total_order_item}}</div>
        {% if orderItem.fk_order.fk_user == request.user %}
        <div class="col p-1">
            <form ws-send>
                <input type="hidden" name="message_type" value="deleteItem">
                <input type="hidden" name="orderItem" value="{{orderItem.id}}">
                <button type="submit" class="btn-close" aria-label="Close"></button>
            </form>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>