{% extends "base/base.html" %}
{% load i18n %}
{% block body %}
<!-- main container -->
<div class="container-fluid" hx-ext="ws" ws-connect={{ws_url}}>
    <div class="bg-light p-4 rounded-4 shadow-lg mt-4">
        <!-- user management section -->
        {% include "userManagement/actions.html" %}
    </div>
    <div class="d-flex justify-content-center align-items-center w-100 min-vh-50 py-5 text-dark">
        <div class="d-flex flex-column align-items-center w-100 px-3 px-md-5 px-lg-4 gap-4">
            <h1 class="display-1 fw-bold text-center text-secondary">{{code}}</h1>
            <p class="h2 fw-bold text-center mb-0">{% translate "Oops ..." %}</p>
            <p class="h2 fw-bold text-center mb-0">{{message}}</p>
            <div class="d-flex flex-column flex-md-row justify-content-center w-50 gap-3">
                <a href="{% url 'order_groups' %}" class="btn btn-outline-primary btn-lg w-100 w-md-auto d-flex align-items-center justify-content-center">
                    <span class="ms-2">{% translate "Go Home Page" %}</span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock body %}